<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 ng-if="!editform">{{configJSON.titleFormCreate}} - {{bdataJSON.companyType}} - {{bdataJSON.locationName}}</h2>
            <h2 ng-if="editform">{{configJSON.titleFormEdit}} - {{bdataJSON.companyType}} - {{bdataJSON.locationName}}</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <form class="m-t" name="form" novalidate>
                <div class="form-group col-md-12" ng-class="{ 'has-error': form.branchName.$dirty && form.branchName.$error.required }">
                    <input type="text" class="form-control" name="branchName"
                           ng-model="bdataJSON.branchName"
                           placeholder="Branch Name" required="">
                    <span ng-show="form.branchName.$dirty && form.branchName.$error.required" class="help-block">
                        Branch Name is required
                    </span>
                </div>

                <div class="form-group col-md-6" ng-class="{ 'has-error': form.emailAddress.$dirty && form.emailAddress.$error.required }">
                    <input type="email" class="form-control" name="emailAddress"
                           ng-model="bdataJSON.emailAddress"
                           ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                           placeholder="Email Address" required="">
                    <span ng-show="form.emailAddress.$dirty && form.emailAddress.$error.required" class="help-block">
                        Email Address is required
                    </span>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': form.phoneNumber.$dirty && form.phoneNumber.$error.required }">
                    <input type="number" class="form-control"
                           ng-model="bdataJSON.phoneNumber"
                           ng-pattern="/^[0-9]{1,10}$/"
                           ng-minlength="10"
                           placeholder="Phone Number" name="phoneNumber" required="">
                    <span ng-show="form.phoneNumber.$dirty && form.phoneNumber.$error.required" class="help-block">
                        Phone Number is required
                    </span>
                </div>

                <div class="form-group col-md-6" ng-class="{ 'has-error': form.streetLine1.$dirty && form.streetLine1.$error.required }">
                    <input type="text" class="form-control" name="streetLine1"
                           ng-model="bdataJSON.streetLine1"
                           placeholder="Street Line 1" required="">
                    <span ng-show="form.streetLine1.$dirty && form.streetLine1.$error.required" class="help-block">
                        Street Line 1 is required
                    </span>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': form.streetLine2.$dirty && form.streetLine2.$error.required }">
                    <input type="text" class="form-control"
                           ng-model="bdataJSON.streetLine2"
                           placeholder="Street Line 2" name="streetLine2" required="">
                    <span ng-show="form.streetLine2.$dirty && form.streetLine2.$error.required" class="help-block">
                        Street Line 2 is required
                    </span>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': form.city.$dirty && form.city.$error.required }">
                    <input type="text" class="form-control"
                           ng-model="bdataJSON.city"
                           name="city" placeholder="city" required="">
                    <span ng-show="form.city.$dirty && form.city.$error.required" class="help-block">
                        City is required
                    </span>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': form.Country.$dirty && form.Country.$error.required }">
                    <select ng-model="bdataJSON.countryId" class="form-control" ng-change="getStateList()">
                        <option value="">Country</option>
                        <option ng-repeat="res in refData.countryList" value="{{res.value}}">{{res.key}}</option>
                    </select>
                    <span ng-show="form.Country.$dirty && form.Country.$error.required" class="help-block">
                        Country is required
                    </span>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error': form.State.$dirty && form.State.$error.required }">
                    <select ng-model="bdataJSON.stateId" class="form-control" required>
                        <option value="">State</option>
                        <option ng-repeat="res in refData.stateList" value="{{res.value}}">{{res.key}}</option>
                    </select>
                    <span ng-show="form.State.$dirty && form.State.$error.required" class="help-block">
                        State is required
                    </span>
                </div>


                <div class="form-group col-md-6" ng-class="{ 'has-error': form.IsActive.$dirty && form.IsActive.$error.required }">
                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="IsActive" ng-model="bdataJSON.isActive">
                            <i></i> Is Active
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <h5>
                        <button type="submit" ng-if="!editform" class="btn btn-primary m-b" ng-click="submit(form)">Create</button>
                        <button type="submit" ng-if="editform" class="btn btn-primary m-b" ng-click="submit(form)">Update</button>
                        <button type="submit" ng-click="reset()" class="btn btn-white m-b">cancel</button>
                    </h5>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- End wrapper-->