<div class="row wrapper">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 ng-if="!edit">Add Hours</h5>
            <h5 ng-if="edit">Edit</h5>
        </div>
        <div class="ibox-content">
            <form name="form" novalidate>
                <!-- Job Title -->
                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.Name.$error.required }">
                    <label>Date * :</label>
                    <input type="text" class="form-control" name="Name"
                           ng-model="dataJSON.TimeDate"
                           readonly />
                    <span ng-show="dataJSON.submitted && form.Name.$error.required" class="text-danger">
                        * Hours Worked is required
                    </span>
                </div>
                <!-- Job Title -->
                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.Name.$error.required }">
                    <label>Hours Worked * :</label>
                    <input type="text" class="form-control" name="Name"
                           ng-model="dataJSON.HoursWorked"
                           placeholder="Hours Worked"
                           required />
                    <span ng-show="dataJSON.submitted && form.Name.$error.required" class="text-danger">
                        * Hours Worked is required
                    </span>
                </div>
                <!-- Job Title -->
                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.Description.$error.required }">
                    <label>Break Hours * :</label>
                    <input type="text" class="form-control" name="Description"
                           ng-model="dataJSON.BreakHours"
                           placeholder="Break Hours"
                           required />
                    <span ng-show="dataJSON.submitted && form.Description.$error.required" class="text-danger">
                        * Break Hours field is required
                    </span>
                </div>
                <div class="col-lg-12">
                    <button type="submit" ng-click="submit(form)" class="btn btn-primary">Submit</button>
                    <button type="submit" ng-click="close()" class="btn btn-white">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
