
<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    

    <div  class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Time Sheet</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <timeSheet selected="day" data="dataJSON.CandidateTimesheetHours"></timeSheet>
                            <div style="margin:10px">
                                <button type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
                                
                            </div>
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End wrapper-->
