<style type="text/css">
    textarea.form-control {
        height: 75px;
        overflow-x: hidden;
    }

    .one {
        cursor: pointer;
        overflow: hidden;
        display: block;
        position: relative;
        width: 100%;
        height: 100px;
        background-color: white;
        border-radius: 4px;
        font: caption;
        text-align: center;
        border: 1px dotted green;
        box-sizing: border-box;
    }


        .one span {
            display: block;
            font-size: 10px;
        }

        .one img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100px;
        }

        .one input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 9999px;
            cursor: pointer;
        }





    .two {
        display: block;
        margin: 30px;
    }


    pre {
        margin: 30px;
        font-size: 10px;
    }
</style>
<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <form class="m-t" name="form" novalidate>
                <!-- Left Panel -->
                <div class="col-lg-6">
                    <!-- Basic Details -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 ng-if="!edit">{{configJSON.titleFormCreate}}</h5>
                            <h5 ng-if="edit">{{configJSON.titleFormEdit}}</h5>
                            <!--<div class="ibox-tools dropdown">
                                <a ng-click="showhide()"> <i class="fa fa-pencil"></i></a>
                            </div>-->
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <!-- Job Title -->
                                <div class="form-group col-md-8" ng-class="{ 'has-error': dataJSON.submitted && form.positionTitle.$error.required }">
                                    <label>Job Title * :</label>
                                    <input type="text" class="form-control" name="positionTitle"
                                           ng-model="dataJSON.Vacancy.positionTitle"
                                           placeholder="Job Title"
                                           required />
                                    <span ng-show="dataJSON.submitted && form.positionTitle.$error.required" class="text-danger">
                                        * Job Title is required
                                    </span>
                                </div>
                                <div class="form-group col-md-4" ng-class="{ 'has-error': dataJSON.submitted && form.noOfPositions.$error.required }">
                                    <label>No Of Vacancies * :</label>
                                    <input type="text" class="form-control" name="noOfPositions"
                                           ng-model="dataJSON.Vacancy.noOfPositions"
                                           placeholder="Job Title"
                                           required />
                                    <span ng-show="dataJSON.submitted && form.noOfPositions.$error.required" class="text-danger">
                                        * No of positions required
                                    </span>
                                </div>
                                <!-- Job Description -->
                                <div class="form-group col-md-12" ng-class="{ 'has-error': dataJSON.submitted && form.vacancyDescription.$error.required }">
                                    <label>Job Description * :</label>
                                    <textarea type="text" class="form-control summernote" name="vacancyDescription"
                                              ng-model="dataJSON.Vacancy.vacancyDescription"
                                              placeholder="Vacancy Description"
                                              ng-disabled="formAction === 'Update'"
                                              required height="200" summernote></textarea>
                                    <span ng-show="dataJSON.submitted && form.vacancyDescription.$error.required" class="text-danger">
                                        * Vacancy Description is required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Job Related File Upload -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Job Relevent File *
                            </h5>
                            <!--<div class="ibox-tools dropdown">
                                <a ng-click="showhide()"> <i class="fa fa-pencil"></i></a>
                            </div>-->
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <!-- Section to select Skills -->
                                <div class="form-group">

                                    <!-- File Upload -->
                                    <div class="form-group col-md-12">
                                        <div drop-zone ng-model="dataJSON.VacancyFiles" class="one btn btn-default"></div>
                                        <div class="form-group">
                                            <div ng-repeat="f in dzfiles track by $index" ng-if="dzfiles.length > 0" class="thumbnail col-sm-2" style=" margin:5px; float:left">

                                                <img src="{{f.data}}" ng-if="f.type.includes('image')" class="img-circle" alt="{{f.name}}" style=" height:100px; width:100px">
                                                <img src="/img/file.png" ng-if="!f.type.includes('image')" class="img-circle" alt="{{f.name}}" style=" height:100px; width:100px">
                                                <div class="caption text-center">
                                                    <p style="word-wrap:break-word">{{f.name}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-show="formAction === 'Update'">
                                            <ul class="list-unstyled project-files">
                                                <li ng-repeat="files in dataJSON.VacancyFiles"><a href="files.filePath" target="_blank"><i class="fa fa-file"></i> {{files.fileName}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span ng-show="dataJSON.submitted && isFilesEmpty" class="text-danger">
                                        * Please select Job related documents
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Rate info panel -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Rate Information
                            </h5>
                            <!--<div class="ibox-tools dropdown">
                                <a ng-click="showhide()"> <i class="fa fa-pencil"></i></a>
                            </div>-->
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <!-- Section to select Skills -->
                                <div class="form-group">
                                    <!-- Year Of experiance -->
                                    <div class="form-group col-md-12" ng-class="{ 'has-error': dataJSON.submitted && form.yearOfExperience.$error.required }">
                                        <label>Year of Experiance * :</label>
                                        <input type="number" class="form-control" name="yearOfExperience"
                                               ng-model="dataJSON.Vacancy.yearOfExperience"
                                               placeholder="Year Of Experience"
                                               required />
                                        <span ng-show="dataJSON.submitted && form.yearOfExperience.$error.required" class="text-danger">
                                            * Year Of Experience is required
                                        </span>
                                    </div>
                                    <!-- Min Pay rate -->
                                    <div class="form-group col-md-6">
                                        <label>Pay rate * :</label>
                                        <div class="row">
                                            <div class="col-md-5" ng-class="{ 'has-error': dataJSON.submitted && form.minPayRate.$error.required }">
                                                <input type="number" class="form-control" name="minPayRate"
                                                       ng-model="dataJSON.Vacancy.minPayRate"
                                                       placeholder="Min" ng-init="0"
                                                       required />
                                                <span ng-show="dataJSON.submitted && form.minPayRate.$error.required" class="text-danger">
                                                    * MinPay Rate is required
                                                </span>
                                            </div>
                                            <div class="col-md-2">
                                                <label>To</label>
                                            </div>
                                            <div class="col-md-5" ng-class="{ 'has-error': dataJSON.submitted && form.maxPayRate.$error.required }">
                                                <input type="number" class="form-control" name="maxPayRate"
                                                       ng-model="dataJSON.Vacancy.maxPayRate"
                                                       placeholder="Max" ng-init="0"
                                                       required />
                                                <span ng-show="dataJSON.submitted && form.maxPayRate.$error.required" class="text-danger">
                                                    * MaxPay Rate is required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- Target pay rate -->
                                    <div class="form-group col-md-3" ng-class="{ 'has-error': dataJSON.submitted && form.targetPayRate.$error.required }">
                                        <label>Target Pay * :</label>

                                        <input type="number" class="form-control" name="targetPayRate"
                                               ng-model="dataJSON.Vacancy.targetPayRate"
                                               placeholder="Target Pay Rate" ng-init="0"
                                               required />
                                        <span ng-show="dataJSON.submitted && form.targetPayRate.$error.required" class="text-danger">
                                            * Target Pay is required
                                        </span>
                                    </div>

                                    <!-- Pay rate markup -->
                                    <div class="form-group col-md-3" ng-class="{ 'has-error': dataJSON.submitted && form.payRateMarkUp.$error.required }">
                                        <label>Markup (%) * :</label>

                                        <input type="number" class="form-control" name="payRateMarkUp"
                                               ng-model="dataJSON.Vacancy.payRateMarkUp"
                                               placeholder="Pay Rate MarkUp" ng-init="0"
                                               required />
                                        <span ng-show="dataJSON.submitted && form.payRateMarkUp.$error.required" class="text-danger">
                                            * PayRate MarkUp is required
                                        </span>
                                    </div>
                                    <div class="col-md-12 no-padding" ng-show="dataJSON.Vacancy.payRateMarkUp !== undefined">
                                        <div class="col-md-12">
                                            <label>Bill rate :</label>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <span class="text-center">
                                                        {{dataJSON.Vacancy.minPayRate+(dataJSON.Vacancy.minPayRate*(dataJSON.Vacancy.payRateMarkUp/100))}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="text-center">
                                                        &nbsp;
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="text-center">
                                                        {{dataJSON.Vacancy.maxPayRate+(dataJSON.Vacancy.maxPayRate*(dataJSON.Vacancy.payRateMarkUp/100))}}
                                                    </span>
                                                </div>
                                                <div class="col-md-3 col-md-offset-1 no-padding">

                                                    <span class="text-center">
                                                        {{dataJSON.Vacancy.targetPayRate+(dataJSON.Vacancy.targetPayRate*(dataJSON.Vacancy.payRateMarkUp/100))}}
                                                        
                                                    </span>
                                                </div>
                                            </div>                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Terms and Conditions -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Terms and Conditions
                            </h5>
                            <!--<div class="ibox-tools dropdown">
                                <a ng-click="showhide()"> <i class="fa fa-pencil"></i></a>
                            </div>-->
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <!-- Section to select Skills -->
                                <div class="form-group">

                                    <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.showCustomerDetailsToSupplier.$error.required }">
                                        <label>
                                            <input icheck type="checkbox" name="showCustomerDetailsToSupplier" ng-model="dataJSON.Vacancy.showCustomerDetailsToSupplier">
                                            <i></i> Show Customer Details To Supplier
                                        </label>
                                    </div>
                                    <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.IsActive.$error.required }">
                                        <label>
                                            <input icheck type="checkbox" name="IsActive" ng-model="dataJSON.Vacancy.isActive">
                                            <i></i> Is Active
                                        </label>
                                    </div>

                                    <div class="form-group col-md-12 m-t-lg">
                                        <h5>
                                            <button type="submit" ng-click="submit(form)" class="btn btn-primary m-b">{{formAction}}</button>
                                            &nbsp;&nbsp;
                                            <button type="submit" ng-click="reset()" class="btn btn-white m-b">Cancel</button>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Panel -->
                <div class="col-lg-6">
                    <!-- Vacancy Type and Hiring manager details -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Vacancy Type / Hiring Details
                            </h5>
                            <!--<div class="ibox-tools dropdown">
                                <a ng-click="showhide()"> <i class="fa fa-pencil"></i></a>
                            </div>-->
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.vacancyType.$error.required }">
                                    <label>Vacancy Type * :</label>
                                    <select ng-model="dataJSON.Vacancy.vacancyType" class="form-control" required name="vacancyType">
                                        <option value="">-- Select Vacancy Type --</option>
                                        <option ng-repeat="res in refData.vacancyTypes" value="{{res.id}}">{{res.name}}</option>
                                    </select>
                                    <span ng-show="dataJSON.submitted && form.vacancyType.$error.required" class="text-danger">
                                        * Vacancy Type is required
                                    </span>
                                </div>

                                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.customer.$error.required }">
                                    <label>Customer * :</label>
                                    <ui-select ng-model="dataJSON.Vacancy.customerId" theme="bootstrap" required name="customer">
                                        <ui-select-match placeholder="Select Customer">{{$select.selected.companyName}}</ui-select-match>
                                        <ui-select-choices repeat="res.id as res in refData.customerList | filter: $select.search">
                                            <div ng-bind-html="res.companyName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="dataJSON.submitted && form.customer.$error.required" class="text-danger">
                                        * Customer is required
                                    </span>
                                </div>

                                <!-- Hiring Manager -->
                                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.hiringManager.$error.required }">
                                    <label>Hiring Manager * :</label>
                                    <ui-select ng-model="dataJSON.Vacancy.hiringManager" theme="bootstrap" required name="hiringManager">
                                        <ui-select-match placeholder="Hiring Manager">{{$select.selected.user.firstName + ' ' + $select.selected.user.lastName}}</ui-select-match>
                                        <ui-select-choices repeat="res.user.firstName +' '+ res.user.lastName  as res in refData.usersList | filter: $select.search">

                                            <div ng-bind-html="res.user.firstName +' '+ res.user.lastName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="dataJSON.submitted && form.hiringManager.$error.required" class="text-danger">
                                        * Hiring Manager is required
                                    </span>
                                </div>

                                <!-- Reporting manager -->
                                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && form.reportingManager.$error.required }">
                                    <label>Reporting Manager * :</label>
                                    <ui-select ng-model="dataJSON.Vacancy.reportingManager" theme="bootstrap" required name="reportingManager">
                                        <ui-select-match placeholder="Reporting Manager">{{$select.selected.user.firstName + ' ' + $select.selected.user.lastName}}</ui-select-match>
                                        <ui-select-choices repeat="res.user.firstName +' '+ res.user.lastName  as res in refData.usersList | filter: $select.search">
                                            <div ng-bind-html="res.user.firstName +' '+ res.user.lastName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="dataJSON.submitted && form.reportingManager.$error.required" class="text-danger">
                                        * Reporting Manager is required
                                    </span>
                                </div>

                                <!-- Date range Job Start and End Date -->
                                <div class="form-group col-md-12" ng-class="{ 'has-error': dataJSON.submitted && form.date.$error.required }">
                                    <label>Select Start and End date * :</label>
                                    <div class="input-group date">
                                        <input type="hidden" ng-model="dataJSON.Vacancy.startDate" />
                                        <input type="hidden" ng-model="dataJSON.Vacancy.endDate" />

                                        <input date-range-picker type="datetime" class="form-control date-picker" name="date"
                                               ng-model="dataJSON.dateRange"
                                               placeholder="Start Date"
                                               open-datepicker
                                               required />
                                        <span class="input-group-addon" data-toggle="datepicker"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <span ng-show="dataJSON.submitted && form.date.$error.required" class="text-danger">
                                        * Start Date is required
                                    </span>
                                </div>

                                <!-- Job Submission Date -->
                                <div class="form-group col-md-12 no-padding">
                                    <div class="form-group col-md-6 col-xs-6 col-sm-6">
                                        <label>Submission Date :</label>
                                        <div class="input-group date">
                                            <!--<input type="datetime" class="form-control" name="submissionDueDate"
                                            ng-model="dataJSON.Vacancy.submissionDueDate" date-range-picker
                                            options="{singleDatePicker: true}"
                                            placeholder="Submission Due Date"
                                            open-datepicker />-->
                                            <input name="DateOfBirth" ng-model="dataJSON.Vacancy.submissionDueDate" type="datetime" class="form-control" placeholder="MM/DD/YYYY" date-time view="date" auto-close="true" min-view="date" format="MM/DD/YYYY">

                                            <span class="input-group-addon" data-toggle="datepicker"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Vacancy Status :</label>
                                        <select ng-model="dataJSON.Vacancy.jobStatusId" class="form-control" name="jobStatusId">
                                            <option value="">-- Select Vacancy Status --</option>
                                            <option ng-repeat="res in refData.jobStatusList" value="{{res.Id}}">{{res.Name}}</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Skills / Locations / Supplier -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Skills / Location / Supplier
                            </h5>
                            <!--<div class="ibox-tools dropdown">
                                <a ng-click="showhide()"> <i class="fa fa-pencil"></i></a>
                            </div>-->
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <!-- Add required Skills -->
                                <div class="form-group col-md-12" ng-class="{ 'has-error': dataJSON.submitted && isSkillsEmpty }">
                                    <label>Select Skills * :</label>

                                    <ui-select multiple ng-model="dataJSON.VacancySkills" theme="bootstrap" required name="VacancySkills">
                                        <ui-select-match placeholder="Select Skills">{{$item.skillName}}</ui-select-match>
                                        <ui-select-choices repeat="res as res in refData.skillsList | filter:$select.search">
                                            {{res.skillName}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="dataJSON.submitted && isSkillsEmpty" class="text-danger">
                                        * Select Skills
                                    </span>
                                </div>

                                <!-- Section To add Locations -->
                                <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && isLocationEmpty }">
                                    <label>Select Location * :</label>

                                    <ui-select multiple ng-model="dataJSON.VacancyLocations" theme="bootstrap" required name="VacancyLocations">
                                        <ui-select-match placeholder="Select Location">{{$item.locationName}}</ui-select-match>
                                        <ui-select-choices repeat="res as res in refData.locationList | filter:$select.search">
                                            {{res.locationName}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span ng-show="dataJSON.submitted && isLocationEmpty" class="text-danger">
                                        * Select Location
                                    </span>
                                </div>

                                <!-- Section to select Skills -->
                                <div class="form-group">
                                    <!-- Section to add Supplier -->
                                    <div class="form-group col-md-6" ng-class="{ 'has-error': dataJSON.submitted && isSupplierEmpty }">
                                        <label>Select Supplier * :</label>
                                        <ui-select multiple ng-model="dataJSON.VacancySuppliers" theme="bootstrap" required name="VacancySuppliers">
                                            <ui-select-match placeholder="Select Supplier">{{$item.companyName}}</ui-select-match>
                                            <ui-select-choices repeat="res as res in refData.supplierList | filter:$select.search">
                                                {{res.companyName}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span ng-show="dataJSON.submitted && isSupplierEmpty" class="text-danger">
                                            * Select Supplier required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Document Details -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Required Documents
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <!-- Document List -->
                                <div class="form-group col-md-12">
                                    <div ng-repeat="doc in dataJSON.RequiredDocument">
                                        <label class="col-lg-12 no-padding" for="chkDocuments_{{doc.ID}}">
                                            <input type="checkbox" icheck
                                                   id="chkDocuments_{{doc.ID}}"
                                                   name="RequiredDocument"
                                                   ng-model="doc.IsSelected" />
                                            {{doc.RequiredDocumentName}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Questions Details -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Required Questions
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <!-- Questions List -->
                                <div class="form-group col-md-12">
                                    <div ng-repeat="qus in dataJSON.Questions">
                                        <label class="col-lg-12 no-padding" for="chkQuestions_{{qus.ID}}">
                                            <input type="checkbox" icheck
                                                   id="chkQuestions_{{qus.ID}}"
                                                   name="Questions"
                                                   ng-model="qus.IsSelected" />
                                            {{qus.QuestionName}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comments Details -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Comments
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <!-- Comments -->
                                <div class="form-group col-md-12">
                                    <textarea type="text" class="form-control summernote" name="dataJSON.VacancyComment[0]"
                                              ng-model="dataJSON.VacancyComment[0].comment"
                                              placeholder="Comments" summernote
                                              height="250"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End wrapper-->
</div>
