<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>  
    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>MSP Vacancies Type:</strong></h5>
                        
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div ng-repeat="vt in resMSPVacancieType">
                                <div class="col-lg-3">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">                                            
                                            {{vt.name}} 
                                            <div class="btn-group-xs pull-right">
                                                <a ng-if="config.VacancyTypeEdit == true" ng-click="update(vt)" class="text-white">
                                                    <span class="fa fa-pencil"></span>
                                                </a>
                                                <!--<a class="btn btn-danger" ng-click="delete(vt)">
                                                    <span class="fa fa-trash"></span>
                                                </a>-->
                                            </div>
                                        </div>                                        
                                        <div class="form-control inline">
                                            <p class="small inline" ng-if="vt.isActive">Active</p>
                                            <p class="small inline" ng-if="!vt.isActive">Deactive</p>
                                            <input ng-disabled="!(config.VacancyTypeEdit == true)" type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                   ng-model="vt.isActive" ng-change="toggleActive(vt)"  />
                                            <div class="pull-right">
                                                <p class="small inline" ng-if="vt.isDeleted">Deleted</p>
                                                <p class="small inline" ng-if="!vt.isDeleted">Deleted</p>
                                                <input ng-disabled="!(config.VacancyTypeEdit == true)" type="checkbox" class="switchery small" ui-switch="{color:'#f8ac59', size:'small'}"
                                                       ng-model="vt.isDeleted" ng-change="toggleActive(vt)"  />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="submit" ng-if="config.VacancyTypeCreate == true" ng-click="create()" class="btn btn-primary m-b">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End wrapper-->