<style type="text/css">
    .dl-horizontal dt {
        text-align: left;
    }
</style>
<toaster-container></toaster-container>

<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a ng-if="config.VacancyEdit == true" ui-sref="{{configJSON.editUrl}}" class="btn btn-white btn-xs pull-right">Edit Job</a>
                                    
                                    <h2>{{vacancyData.Vacancy.customerName | uppercase | limitTo : 2}}000{{vacancyData.Vacancy.id}} - {{vacancyData.Vacancy.positionTitle}}</h2>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>Active Status:</dt>
                                    <dd>                                        
                                        <span class="label m-b-n-lg" ng-class="{'label-primary' : vacancyData.Vacancy.isActive,'label-warning':!vacancyData.Vacancy.isActive}">
                                            {{vacancyData.Vacancy.isActive?'Open':'Closed'}}
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>Vacancy Type </dt>
                                    <dd>: {{vacancyData.Vacancy.vacancyTypeName}}</dd>
                                    <dt>Customer Name </dt>
                                    <dd>: {{vacancyData.Vacancy.customerName}}</dd>
                                    <dt>Hiring Manager</dt>
                                    <dd>: {{vacancyData.Vacancy.hiringManager}}</dd>
                                    <dt>Reporting Manager</dt>
                                    <dd>: {{vacancyData.Vacancy.reportingManager}}</dd>
                                    <dt>Start Date </dt>
                                    <dd>: {{vacancyData.Vacancy.startDate | date}}</dd>
                                    <dt>End Date </dt>
                                    <dd>: {{vacancyData.Vacancy.endDate | date}}</dd>
                                    <dt>Submission Date </dt>
                                    <dd>: {{vacancyData.Vacancy.submissionDueDate | date}}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">
                                    <dt>Year Of Experiance </dt>
                                    <dd>: {{vacancyData.Vacancy.yearOfExperience}}</dd>
                                    <dt>Min Pay </dt>
                                    <dd>: {{vacancyData.Vacancy.minPayRate}}</dd>
                                    <dt>Max Pay </dt>
                                    <dd>: {{vacancyData.Vacancy.maxPayRate}}</dd>
                                    <dt>Target Pay</dt>
                                    <dd>: {{vacancyData.Vacancy.targetPayRate}}</dd>
                                    <dt>Markup Pay </dt>
                                    <dd>: {{vacancyData.Vacancy.payRateMarkUp}}</dd>

                                    <!--<dt>Created </dt>
                                    <dd>: {{vacancyData.Vacancy.createdTimestamp | date}}</dd>
                                    <dt>Updated </dt>
                                    <dd>: {{vacancyData.Vacancy.updatedTimestamp | date}}</dd>
                                    <dt>Suppliers</dt>-->
                                    <!--<dd class="project-people">
                                        <ng-letter-avatar ng-repeat="sup in vacancyData.VacancySuppliers" charCount="2" height="28" width="28" fontsize="10"
                                                          data="sup.companyName" shape="round"></ng-letter-avatar>

                                    </dd>-->
                                </dl>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>Completed:</dt>
                                    <dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            <div style="width: 60%;" class="progress-bar"></div>
                                        </div>
                                        <small>Project completed in <strong>60%</strong>. Remaining close the project, sign a contract and invoice.</small>
                                    </dd>
                                </dl>
                            </div>
                        </div>-->
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel ui-tab">
                                    <uib-tabset>
                                        <uib-tab heading="Users comments" active="tab.active" class="dsads">
                                            <div class="feed-activity-list">
                                                <div class="feed-element" ng-repeat="comments in vacancyData.VacancyComment">
                                                    <a href="" class="pull-left">
                                                        <!--<img alt="image" class="img-circle" src="img/a2.jpg">-->
                                                        <ng-letter-avatar charCount="2" height="28" width="28" fontsize="10"
                                                                          data="{{comments.createdUserID}}" shape="round"></ng-letter-avatar>
                                                    </a>
                                                    <div class="media-body ">
                                                        <!--<small class="pull-right">2h ago</small>-->
                                                        <strong>Mark Johnson</strong><br>
                                                        <small class="text-muted">{{comments.createdTimestamp | date:'MMMM dd, yyyy hh:mm:ss a'}}</small>
                                                        <div class="well">
                                                            {{comments.comment}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-t m-b"></div>
                                            <div class="col-lg-12 no-padding">
                                                <div class="social-comment">
                                                    <form class="m-t" name="form">
                                                        <strong>Add Comments:</strong>
                                                        <div class="media-body">
                                                            <textarea ng-model="dataCommentJSON.comment.comment" class="form-control" placeholder="Write comment..."></textarea>
                                                        </div>
                                                        <br />
                                                        <div class="col-lg-12 pull-right">
                                                            <button type="submit" ng-click="submitComments()" class="btn btn-primary pull-right">Submit</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">

                <h4>Job description:</h4>
                <p class="small" ng-bind-html="vacancyData.Vacancy.vacancyDescription">
                </p>

                <div class="row"></div>

                <h5>Job Skills:</h5>
                <ul class="tag-list" style="padding: 0">
                    <li ng-repeat="skill in vacancyData.VacancySkills"><a><i class="fa fa-tag"></i> {{skill.skillName}}</a></li>
                </ul>
                <div class="row"> </div>


                <h5>Job related files:</h5>
                <ul class="list-unstyled project-files">
                    <li ng-repeat="files in vacancyData.VacancyFiles"><a href="files.filePath" target="_blank"><i class="fa fa-file"></i> {{files.fileName}}</a></li>
                </ul>
                <div class="row"> </div>

                <h5>Manage Candidate Submission:</h5>
                <ul class="list-unstyled project-files">
                    <!--<li ng-repeat="files in vacancyData.VacancyFiles"><a href="files.filePath" target="_blank"><i class="fa fa-file"></i> {{files.fileName}}</a></li>-->
                    <li>Candidate 1</li>
                    <li>Candidate 2</li>
                    <li>Candidate 3</li>
                    <li>Candidate 4</li>
                </ul>
                <div class="col-lg-12">
                    <button type="submit" ng-click="manageCandidates()" class="btn btn-primary btn-block">Manage</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End wrapper-->
