<style>
    .project-people, .project-actions {
        text-align: left;
    }
</style>
<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!--Search-->
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <!--serach Form start-->
            <div class="col-lg-12" ng-if="false">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{configJSON.titleForm}}</h5>

                    </div>
                    <div class="ibox-content">
                        <form class="m-t" name="form">
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.startSate.$dirty && form.startSate.$error.required }">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" name="startSate"
                                           ng-model="dataJSON.startSate"
                                           placeholder="Start Date"
                                           auto-close="true" min-view="date" format="DD-MM-YYYY" date-time view="date"
                                           required="" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.endDate.$dirty && form.endDate.$error.required }">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" name="companyLocation"
                                           ng-model="dataJSON.endDate"
                                           auto-close="true" min-view="date" format="DD-MM-YYYY" date-time view="date"
                                           placeholder="End Date" required="" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.subbmissionDate.$dirty && form.subbmissionDate.$error.required }">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" name="companyLocation"
                                           ng-model="dataJSON.subbmissionDate"
                                           auto-close="true" min-view="date" format="DD-MM-YYYY" date-time view="date"
                                           placeholder="Subbmit Due Date" required="" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.customer.$dirty && form.customer.$error.required }">
                                <select ng-model="dataJSON.customer" class="form-control" ng-change="getUserList()">
                                    <option value="">-- Select Customer --</option>
                                    <option ng-repeat="res in refData.customerList" value="{{res.id}}">{{res.companyName}}</option>
                                </select>

                            </div>
                            <div>
                                <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
                                &nbsp;&nbsp;
                                <a class="btn btn-primary btn-white center" ng-click="reset()">Clear</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--serach Form end-->
            <!--serach Results start-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>All Jobs</h5>
                        <div class="ibox-tools">
                            <a ng-if="config.VacancyCreate == true" ui-sref="job.createVacancy" class="btn btn-primary">Create new Job</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm" ng-show="false">
                            <div class="col-md-1">
                                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="project-list">
                            <table datatable="ng" dt-options="dtOptions" class="row-border hover table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            S.No
                                        </th>
                                        <th>
                                            Title
                                        </th>

                                        <th>
                                            Customer
                                        </th>
                                        <th>
                                            Suppliers
                                        </th>

                                        <th>
                                            Skills
                                        </th>
                                        <th>
                                            Pay Rate
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Open/Close
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="v in resVacancie">

                                        <td class="project-actions">
                                            <a ng-click="view(v)" ui-sref="project_detail">
                                                {{v.Vacancy.customerName | uppercase | limitTo : 2}}000{{v.Vacancy.id}}
                                            </a>
                                        </td>
                                        <td class="project-title">
                                            <a ui-sref="project_detail">{{v.Vacancy.positionTitle}}</a>
                                            <br />
                                            <small>Duration : {{v.Vacancy.startDate | date}} - {{v.Vacancy.endDate | date}}</small>
                                        </td>


                                        <td class="project-people">
                                            <ng-letter-avatar charCount="2" height="28" width="28" fontsize="10"
                                                              data="{{v.Vacancy.customerName}}" shape="round"></ng-letter-avatar>
                                        </td>
                                        <td class="project-people">
                                            <ng-letter-avatar ng-repeat="sup in v.VacancySuppliers" charCount="2" height="28" width="28" fontsize="10"
                                                              data="{{sup.companyName}}" shape="round"></ng-letter-avatar>
                                        </td>

                                        <td class="project-actions" width="15%">
                                            <a ng-repeat="skill in v.VacancySkills">#{{skill.skillName}} </a>
                                        </td>
                                        <td class="project-actions">
                                            <small>{{v.Vacancy.targetPayRate}}</small>
                                        </td>
                                        <td class="project-completion">
                                            <small>{{v.Vacancy.vacancyStatus.Name}}</small>
                                            <!--<div class="progress progress-mini">
                    <div style="width: 48%;" class="progress-bar"></div>
                </div>-->
                                        </td>
                                        <td class="project-status text-center">
                                            <span class="label m-b-n-lg" ng-class="{'label-primary' : v.Vacancy.isActive,'label-warning':!v.Vacancy.isActive}">
                                                {{v.Vacancy.isActive?'Open':'Closed'}}
                                            </span>
                                        </td>
                                        <td class="project-actions text-center" style="padding:0px;margin:0px">
                                            <!--has-permission='Customer View'-->
                                            <a ng-click="view(v)" class="btn btn-white btn-sm col-md-5" style="margin-left:5px"><i class="fa fa-eye "></i> </a>
                                            <a ng-if="config.VacancyEdit == true" ng-click="edit(v)" style="margin-left:5px" class="btn btn-white btn-sm col-md-5"><i class="fa fa-pencil"></i>  </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--serach Results start-->
        </div>
    </div>
    <!--Manage-->
    <!-- End wrapper-->
</div>