<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!--Search-->
    <div ng-if="!IsMSP" class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <!--serach Form start-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{configJSON.titleForm}}</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form class="m-t" name="form">
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.startSate.$dirty && form.startSate.$error.required }">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" name="startSate"
                                           ng-model="dataJSON.startSate"
                                           placeholder="Start Date"
                                           auto-close="true" min-view="date" format="DD-MM-YYYY" date-time view="date"
                                           required="" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.endDate.$dirty && form.endDate.$error.required }">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" name="companyLocation"
                                           ng-model="dataJSON.endDate"
                                           auto-close="true" min-view="date" format="DD-MM-YYYY" date-time view="date"
                                           placeholder="End Date" required="" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.subbmissionDate.$dirty && form.subbmissionDate.$error.required }">
                                <div class="input-group date">
                                    <input type="datetime" class="form-control" name="companyLocation"
                                           ng-model="dataJSON.subbmissionDate"
                                           auto-close="true" min-view="date" format="DD-MM-YYYY" date-time view="date"
                                           placeholder="Subbmit Due Date" required="" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': form.customer.$dirty && form.customer.$error.required }">
                                <select ng-model="dataJSON.customer" class="form-control" ng-change="getUserList()">
                                    <option value="">-- Select Customer --</option>
                                    <option ng-repeat="res in refData.customerList" value="{{res.id}}">{{res.companyName}}</option>
                                </select>

                            </div>
                            <div>
                                <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
                                &nbsp;&nbsp;
                                <a class="btn btn-primary btn-white center" ng-click="reset()">Clear</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--serach Form end-->
            <!--serach Results start-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>Search Results:</strong></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div ng-repeat="vac in resVacancie">
                                <div class="col-lg-4 col-md-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">

                                            <a class="text-white">
                                                <i class="fa fa-plus-square"></i>
                                            </a>

                                            {{vac.positionTitle}}
                                            <div class="btn-group-xs pull-right">
                                                <a ng-click="update(vac)" class="text-white">
                                                    <span class="fa fa-pencil"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="ibox-heading white-bg">
                                                <b>Vacancy Type:</b> {{vac.vacancyTypeName}}    <br />
                                                <b>Customer Name:</b> {{vac.customerName}}       <br />
                                                <b>Date:</b> {{vac.startDate |date: "dd-MMM-yyyy"}} to {{vac.endDate |date: "dd-MMM-yyyy"}}       <br />
                                                <b>Submission Date:</b> {{vac.submissionDueDate |date: "dd-MMM-yyyy"}}      <br />
                                                <b>Vacancy Description:</b>{{vac.vacancyDescription}}      <br />
                                                <br /> <br />

                                            </div>
                                        </div>

                                        <div align="center" class="form-control inline">
                                            <button class="btn-primary btn btn-xs" ng-click="view(vac)">Manage</button>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--serach Results start-->
        </div>
    </div>
    <!--Manage-->
    <!-- End wrapper-->
</div>