<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 ng-if="editform">Edit Skill</h2>
            <h2 ng-if="!editform">Create Skill</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <form class="m-t" name="form" novalidate>
                <div class="form-group col-md-12" ng-class="{ 'has-error': submitted && form.skillName.$error.required  }">
                    <label>Skill Name * :</label>
                    <input type="text" class="form-control" name="skillName"
                           ng-model="sdataJSON.skillName"
                           placeholder="Skill Name" required />
                    <span ng-show="submitted && form.skillName.$error.required" class="text-danger">
                        * Skill Name is required
                    </span>
                </div>
                <div class="form-group col-md-12">
                    <label>
                        <input icheck type="checkbox" name="IsActive" ng-model="sdataJSON.isActive">
                        <i></i> Is Active
                    </label>
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" ng-if="!editform" ng-click="submit(form)" class="btn btn-primary m-b">Create</button>
                    <button type="submit" ng-if="editform" ng-click="submit(form)" class="btn btn-primary m-b">Update</button>
                    <button type="submit" ng-click="reset()" class="btn btn-white m-b">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End wrapper-->