<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <div class="col-lg-12" ng-show="search">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>{{configJSON.title}}:</strong></h5>
                        <div class="ibox-tools">
                            <a ng-click="create()" class="btn btn-primary">Create</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div ng-repeat="atl in appointmentTypeList">
                                <div class="col-lg-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <span class="small">AT000{{atl.ID}}</span>

                                            <div class="btn-group-xs pull-right">
                                                <a ng-click="update(atl)" class="text-white">
                                                    <span class="fa fa-pencil"></span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <div class="ibox-heading white-bg">
                                                <b>Appointment Type:</b>
                                                <p class="small">{{atl.Name}}</p>
                                            </div>
                                            <div class="ibox-heading white-bg">
                                                <b>Description:</b>
                                                <p class="small">{{atl.Description}}</p>
                                            </div>                                            
                                        </div>

                                            <div class="form-control inline">
                                                <!-- Country Active/Deactive toggle -->
                                                <p class="small inline" ng-if="atl.isActive">Active</p>
                                                <p class="small inline" ng-if="!atl.isActive">Deactive</p>
                                                <input type="checkbox" class=" switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                       ng-change="toggleActive(atl)"
                                                       ng-model="atl.isActive" />

                                                <!-- Country Deleted toggle -->
                                                <div class="pull-right">
                                                    <p class="small inline" ng-if="atl.isDeleted">Deleted</p>
                                                    <p class="small inline" ng-if="!atl.isDeleted">Deleted</p>
                                                    <input type="checkbox" class=" switchery small" ui-switch="{color:'#f8ac59', size:'small'}"
                                                           ng-change="toggleActive(atl)"
                                                           ng-model="atl.isDeleted" />
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>         

        </div>
    </div>
</div>
<!-- End wrapper-->