<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <div class="col-lg-12" ng-show="search">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>Countries:</strong></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="col-md-12">
                            <div class="row form-group col-md-4">
                                <input type="text" class="form-control" name="search"
                                       ng-model="Search"
                                       placeholder="Search Text">

                            </div>
                        </div>
                        <div class="row">
                            <div ng-repeat="con in countryList | filter:Search">
                                <div class="col-lg-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <a class="text-white" ng-show="!test" ng-click="loadStates(con,test)">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="text-white" ng-show="test" ng-click="test=false;alert(false);">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                            {{con.countryCode}} - <span class="small">{{con.countryName}}</span>

                                            <div class="btn-group-xs pull-right">
                                                <a ng-if="config.CountryEdit" ng-click="update(con)" class="text-white">
                                                    <span class="fa fa-pencil"></span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="panel-body" ng-show="test">
                                            <div class="ibox-heading white-bg">
                                                <b>States:</b><a class="text-navy" ng-if="config.CountryCreate == true" ng-click="modal(con)"> <i class="fa fa-plus-circle"></i></a>
                                            </div>
                                            <div ng-repeat="state in con.stateList">
                                                <div class="ibox-tools pull-left small">
                                                    <i class="fa fa fa-dot-circle-o"></i> {{state.stateCode}} - {{state.stateName}}
                                                    <a ng-if="config.CountryCreate" ng-click="modal(state)"> <i class="fa fa-pencil"></i></a>

                                                    <!-- State Active/Deactive toggle -->
                                                    <input ng-disabled="!(config.CountryEdit == true)" type="checkbox" class=" switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                           ng-change="toggleActive(state)" ng-model="state.isActive" />
                                                    <span class="small" ng-if="state.isActive">Active</span>
                                                    <span class="small" ng-if="!state.isActive">Deactive</span>
                                                    <!-- State Deleted toggle -->
                                                    <!--<input ng-disabled="!(config.CountryEdit == true)" type="checkbox" class=" switchery small" ui-switch="{color:'#f8ac59', size:'small'}"
                                       ng-change="toggleActive(state)" ng-model="state.isDeleted" />
                                <span class="small" ng-if="state.isDeleted">Deleted</span>
                                <span class="small" ng-if="!state.isDeleted">Deleted</span>-->
                                                </div>
                                                <br />
                                            </div>
                                        </div>

                                        <div class="form-control inline">
                                            <!-- Country Active/Deactive toggle -->
                                            <p class="small inline" ng-if="con.isActive">Active</p>
                                            <p class="small inline" ng-if="!con.isActive">Deactive</p>
                                            <input ng-disabled="!(config.CountryEdit == true)" type="checkbox" class=" switchery small" ui-switch="{color:'#1AB394', size:'small'}" ng-change="toggleActive(con)"
                                                   ng-model="con.isActive" />

                                            <!-- Country Deleted toggle -->
                                            <!--<div class="pull-right">
                            <p class="small inline" ng-if="con.isDeleted">Deleted</p>
                            <p class="small inline" ng-if="!con.isDeleted">Deleted</p>
                            <input ng-disabled="!(config.CountryEdit == true)" type="checkbox" class=" switchery small" ui-switch="{color:'#f8ac59', size:'small'}" ng-change="toggleActive(con)"
                                   ng-model="con.isDeleted" />
                        </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button ng-if="config.CountryCreate == true" type="submit" ng-click="create()" class="btn btn-primary m-b">Create</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" ng-hide="search">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 ng-if="!edit">{{configJSON.titleFormCreate}}</h5>
                        <h5 ng-if="edit">{{configJSON.titleFormEdit}}</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="m-t" name="form" novalidate>

                            <div class="form-group" ng-class="{ 'has-error': refData.submitted && form.countryName.$error.required }">
                                <label>Country Name * :</label>
                                <input type="text" class="form-control" name="countryName"
                                       ng-model="dataJSON.countryName"
                                       placeholder="Country Name" required />
                                <span ng-show="refData.submitted && form.countryName.$error.required" class="help-block">
                                    * Country Name is required
                                </span>
                            </div>

                            <div class="form-group " ng-class="{ 'has-error': refData.submitted && form.countryCode.$error.required }">
                                <label>Country Code * :</label>
                                <input type="text" class="form-control"
                                       ng-model="dataJSON.countryCode"
                                       placeholder="Country Code" name="countryCode" required />
                                <span ng-show="refData.submitted && form.countryCode.$error.required" class="help-block">
                                    * Country Code is required
                                </span>
                            </div>

                            <div class="form-group">
                                <label>
                                    <input icheck type="checkbox" name="IsActive" ng-model="dataJSON.isActive">
                                    <i></i> Is Active
                                </label>
                            </div>

                            <h5>
                                <button type="submit" ng-click="submit(form)" class="btn btn-primary m-b">{{formAction}}</button>
                                <button type="submit" ng-click="reset()" class="btn btn-white m-b">cancel</button>
                            </h5>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End wrapper-->