<style>

    .project-people, .project-actions {
        text-align: left;
    }
</style>
<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!--Search-->
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <h5>{{configJSON.tableHeading}}</h5>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div ng-if="candidateSubmissionList.length > 0" class="row">
                            <div class="project-list">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="v in configJSON.gridElements">
                                                {{v.lable}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in candidateSubmissionList" id="row_{{v.SubmissionId}}">
                                            <td class="project-actions">
                                                <span style="float:left">SU000{{v.SubmissionId}}</span>
                                            </td>
                                            <td class="project-title">
                                                <span style="float:left">{{v.CustomerName | uppercase | limitTo : 2}}000{{v.JobId}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.JobTitle}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.BillRate}}</span>
                                            </td>

                                            <td class="project-people">
                                                <span style="float:left">{{v.CandidateFirstName + " " + v.CandidateLastName}}</span>
                                            </td>
                                            <td class="project-actions" width="15%">
                                                <span style="float:left">{{v.SupplierName}}</span>
                                            </td>
                                            <td class="project-actions">
                                                <span style="float:left">
                                                    <small>{{v.SubmissionDate | stringToDate : "MM/dd/yyyy  h:mma" }}</small>
                                                </span>
                                            </td>
                                            <td class="project-actions">
                                                <span class="label m-b-n-lg" ng-class="{'label-primary' : v.Vacancy.isActive,'label-warning':!v.Vacancy.isActive}">
                                                    {{v.Status}}
                                                </span>
                                            </td>

                                            <td class="project-status center">
                                                <a ng-click="release(v)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> {{configJSON.actionRelease}} </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-if="!candidateSubmissionList.length > 0">
                            There is no Placements Available.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Manage-->
    <!-- End wrapper-->
</div>