<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 ng-if="!editform">{{configJSON.titleFormCreate}}</h2>
            <h2 ng-if="editform">{{configJSON.titleFormEdit}}</h2>

        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-12">
                <form class="m-t" name="form" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': refData.submitted && form.roleGroupName.$error.required }">
                        <label>Role Group Name * :</label>
                        <input type="text" class="form-control" name="roleGroupName"
                               ng-model="rgdataJSON.roleGroup.roleGroupName"
                               placeholder="Group Name" required />
                        <span ng-show="refData.submitted && form.roleGroupName.$error.required" class="text-danger">
                            * Group Name is required
                        </span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': refData.submitted && isRolesEmpty}">
                        <label>Roles * :</label> <br />

                        <label for="All">
                            <input id="All" type="checkbox" icheck value="All" ng-checked="rgdataJSON.roles.length == rolesList.length"
                                   ng-change="toggleSelection('All')" ng-model="rolesAll" />
                            All
                        </label>
                        <!--<select class="form-control" ng-model="rgdataJSON.roles"
                        ng-options="res.Name for res in rolesList"
                        multiple="" required
                        name="roles"></select>-->
                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>MSP Roles :</label>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('MSP') == 0" class="action-checkbox">
                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" icheck value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           ng-change="toggleSelection(res)" ng-model="rolesMSP" />
                                                    {{res.Name}}
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-6">

                            <div>
                                <div>
                                    <label>Customer Roles :</label>
                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Customer ') == 0" class="action-checkbox">
                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesCustomer" />
                                                    {{res.Name}}
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Supplier Roles</label>

                                </div>

                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Supplier ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesSupplier" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Candidate Roles</label>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Candidate ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesCandidate" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Country Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Country ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesCountry" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Industry Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Industry ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesIndustry" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Job Vacancy Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Vacancy ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesVacancy" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Question Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Vacancy ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesQuestion" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Document Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Vacancy ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesDocument" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Document Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Vacancy ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesDocument" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div>
                                <div>
                                    <label>Role Authorization Roles</label>

                                </div>
                                <div class="ibox-content">

                                    <div class="row">
                                        <div ng-repeat="res in rolesList">
                                            <div ng-if="res.Name.indexOf('Role Authorization ') == 0" class="action-checkbox">

                                                <label for="{{res.Name}}">
                                                    <input id="{{res.Name}}" type="checkbox" value="{{res}}" ng-checked="rgdataJSON.roles.indexOf(res) > -1"
                                                           icheck ng-change="toggleSelection(res)" ng-model="rolesRoleAuthorize" />
                                                    {{res.Name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span ng-show="refData.submitted && isRolesEmpty" class="text-danger">
                            * Select Roles
                        </span>
                    </div>
                    <div class="col-md-12">
                        <h5>
                            <button type="submit" ng-click="submit(form)" class="btn btn-primary m-b">{{formAction}}</button>
                            <button type="submit" ng-click="close()" class="btn btn-white m-b">Cancel</button>
                        </h5>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>
<!-- End wrapper-->