<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" style="background-color: white;margin-top: 10px;">
        
        <div class="row">
            <div class="col-lg-12">
                <form class="m-t" name="form" novalidate>
                    <div class="form-group col-md-4">
                        <label>Company Type* :</label>
                        <ui-select ng-model="dataJSON.companyType" theme="bootstrap" required name="companyType" ng-change="changeCompanyType($select.selected)">
                            <ui-select-match placeholder="Company Type">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="res in companyTypeList | filter: $select.search">
                                <div ng-bind-html="res | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <div class="form-group col-md-4">
                        <label>Company* :</label>
                        <ui-select ng-model="dataJSON.companyId" theme="bootstrap" required name="companyId" ng-change="changeCompany($select.selected)">
                            <ui-select-match placeholder="Company">{{$select.selected.companyName}}</ui-select-match>
                            <ui-select-choices repeat="res.companyName  as res in companyList | filter: $select.search">
                                <div ng-bind-html="res.companyName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': refData.submitted && form.roleUser.$error.required }">
                        <label>User* :</label>
                        <ui-select ng-model="dataJSON.roleUser" theme="bootstrap" required name="roleUser" ng-change="changeUser($select.selected)">
                            <ui-select-match placeholder="Users">{{$select.selected.user.firstName + ' ' + $select.selected.user.lastName}}</ui-select-match>
                            <ui-select-choices repeat="res.user.firstName +' '+ res.user.lastName  as res in userList | filter: $select.search">
                                <div ng-bind-html="res.user.firstName +' '+ res.user.lastName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="refData.submitted && form.user.$error.required" class="text-danger">
                            * User is required
                        </span>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': refData.submitted && form.roleGroup.$error.required}">
                        <label>Role Group* :</label>

                        <ui-select ng-model="dataJSON.roleGroup" theme="bootstrap" required name="roleGroup">
                            <ui-select-match placeholder="Role Group">{{$select.selected.roleGroupName}}</ui-select-match>
                            <ui-select-choices repeat="res in roleGroupsList | filter: $select.search">
                                <div ng-bind-html="res.roleGroupName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <span ng-show="refData.submitted && form.roleGroup.$error.required" class="text-danger">
                            * Select Role Group
                        </span>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" ng-click="submit(form)" class="btn btn-primary m-b">{{formAction}}</button>
                        <button type="submit" ng-click="close()" class="btn btn-white m-b">Cancel</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <h5>{{configJSON.tableHeading}}</h5>
                        </div>
                    </div>
                    <div class="ibox-content">
                        
                            <div class="project-list" ng-if="userRoles.length > 0">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="v in configJSON.gridElements">
                                                {{v.lable}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in userRoles" id="row_{{v.UserId}}">
                                            <td class="project-actions">
                                                <span style="float:left">U000{{$index+1}}</span>
                                            </td>

                                            <td class="project-people">
                                                <span style="float:left">

                                                    <img ng-if="v.ProfilePic!=''" height="28" width="28" alt="image" class="img-circle m-t-xs img-responsive" src="{{baseUrl+v.ProfilePic}}" />

                                                    <ng-letter-avatar ng-if="v.ProfilePic ===''" charCount="2" height="28" width="28" fontsize="10"
                                                                      data="{{v.FirstName}} {{v.LastName}}" shape="round"></ng-letter-avatar>

                                                </span>
                                            </td>
                                            <td class="project-title">
                                                <span style="float:left">{{v.FirstName+" "+v.LastName}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left" ng-if="v.CustomerId">Customer</span>
                                                <span style="float:left" ng-if="v.MspId">MSP</span>
                                                <span style="float:left" ng-if="v.SupplierId">Supplier</span>
                                            </td>
                                            <td class="project-actions">
                                                <span style="float:left">{{v.RoleName}}</span>
                                            </td>
                                            <td class="project-status center">
                                                <a ng-click="updateRole(v)" class="btn btn-white btn-sm">
                                                    <i class="fa fa-pencil"></i>
                                                    {{configJSON.actionEdit}}
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                        <div ng-if="!userRoles.length > 0">
                            There is no Users Available.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End wrapper-->