<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!--Search-->
    <div ng-if="!IsMSP" class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <!--serach Form start-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{configJSON.titleForm}}</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form class="m-t" name="form">
                            <div class="form-group col-md-4" ng-class="{ 'has-error': form.companyName.$dirty && form.companyName.$error.required }">
                                <input type="text" class="form-control" name="companyName"
                                       ng-model="dataJSON.companyName"
                                       placeholder="Company Name"
                                       required="">
                                <span ng-show="form.companyName.$dirty && form.companyName.$error.required" class="help-block">
                                    Company Name is required
                                </span>
                            </div>
                            <div class="form-group col-md-4" ng-class="{ 'has-error': form.companyLocation.$dirty && form.companyLocation.$error.required }">
                                <input type="text" class="form-control" name="companyLocation"
                                       ng-model="dataJSON.companyLocation"
                                       placeholder="Location" required="">
                                <span ng-show="form.companyLocation.$dirty && form.companyLocation.$error.required" class="help-block">
                                    Company Location is required
                                </span>
                            </div>
                            <div class="form-group col-md-4" ng-class="{ 'has-error': form.companyBranch.$dirty && form.companyBranch.$error.required }">
                                <input type="text" class="form-control"
                                       ng-model="dataJSON.companyBranch"
                                       placeholder="Branch" name="companyBranch" required="">
                                <span ng-show="form.companyBranch.$dirty && form.companyBranch.$error.required" class="help-block">
                                    Branch is required
                                </span>
                            </div>
                            <div>
                                <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
                                &nbsp;&nbsp;
                                <a class="btn btn-primary center" ui-sref="{{configJSON.createUrl}}">Add</a>
                                &nbsp;&nbsp;
                                <a class="btn btn-primary btn-white center" ui-sref="dashboard">Cancel</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--serach Form end-->
            <!--serach Results start-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>Search Results:</strong></h5>
                        <div ibox-tools></div>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <!--repeater-->
                            <div ng-repeat="res in searchResults">
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            {{res.companyName}}
                                        </div>
                                        <div class="panel-body">
                                            <div class="ibox-heading white-bg">
                                                <p class="small"><b>Website:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyWebsite}}</p>
                                                <p class="small"><b>Email:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyEmail}}</p>
                                                <p class="small"><b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyAddress}}</p>
                                                <p class="small"><b>Contact Number:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyPhoneNumber}}</p>
                                            </div>
                                        </div>
                                        <div align="center" class="form-control inline">
                                            <button class="btn-primary btn btn-xs" ng-click="view(res)">Manage</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--serach Results end-->
        </div>
    </div>
    <!--Manage-->
    <div ng-if="IsMSP" class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">

        <div ng-if="res" class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <a ui-sref="{{configJSON.editUrl}}" class="btn btn-white btn-xs pull-right">Edit {{res.companyType}}</a>

                                        <h2>{{res.companyName}}</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt>
                                        <dd><span class="label label-primary">Active</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Email:</dt>
                                        <dd>{{res.companyEmail}}</dd>
                                        <dt>Website:</dt>
                                        <dd> {{res.companyWebsite}}</dd>
                                        <dt>Address:</dt>
                                        <dd>{{res.companyAddress}}</dd>
                                        <dt>City:</dt>
                                        <dd>{{res.companyCity}}</dd>
                                        <dt>State:</dt>
                                        <dd>{{res.companyState}}</dd>
                                        <dt>Country:</dt>
                                        <dd>{{res.companyCountry}}</dd>
                                        <dt>Contact:</dt>
                                        <dd> {{res.companyPhoneNumber}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">
                                        <dt>Created by:</dt>
                                        <dd>{{res.createdUserID}}</dd>
                                        <dt>Messages:</dt>
                                        <dd> 162</dd>
                                        <dt>Client:</dt>
                                        <dd><a href="" class="text-navy"> Code Rev</a></dd>
                                        <dt>Version:</dt>
                                        <dd> v1.0</dd>
                                    </dl>
                                </div>

                            </div>

                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <div class="panel ui-tab">
                                        <uib-tabset>
                                            <uib-tab heading="Users" active="tab.active" class="dsads">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <h5><strong>Users:</strong></h5>
                                                        <button type="submit" ng-click="modelU()" class="btn btn-primary m-b pull-right">Create</button>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="row">
                                                            <!--repeater-->
                                                            <div ng-repeat="loc in resUsers">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">

                                                                            {{loc.user.firstName + " " +loc.user.lastName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-click="updateUser(loc)" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                                <a ng-click="ctoggleActive(loc,false)" class="btn btn-danger">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>Email:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.user.emailAddress}}</p>
                                                                                <p class="small"><b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.user.address}}</p>
                                                                                <p class="small"><b>city:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.user.city}}</p>
                                                                                <p class="small"><b>state:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.user.state}}</p>
                                                                                <p class="small"><b>country:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.user.country}}</p>
                                                                                <p class="small"><b>Zipe:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.user.zipCode}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div align="center" class="form-control inline">
                                                                            <p class="small inline" ng-if="loc.isActive">Active</p>
                                                                            <p class="small inline" ng-if="!loc.isActive">Deactive</p>
                                                                            <input type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="ctoggleActive(loc,false)" ng-model="loc.isActive" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <uib-tab heading="Locations/Branch" class="dsads">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title" ng-show="!toggleBranches">
                                                        <h5><strong>Locations:</strong></h5>
                                                        <button type="submit" ng-click="modelL()" class="btn btn-primary m-b pull-right">Add Location</button>
                                                    </div>
                                                    <div class="ibox-title" ng-show="toggleBranches">
                                                        <h5><strong>Branches:</strong></h5>
                                                        <button type="submit" ng-click="swithLocation()" class="btn btn-default m-b pull-right float-e-margins">Close</button>
                                                        <button type="submit" ng-click="modalB(refData.locationData)" class="btn btn-primary m-b m-r pull-right">Add Branch</button>
                                                    </div>
                                                    <div class="ibox-content" ng-show="!toggleBranches">
                                                        <div class="row">
                                                            <!--repeater-->
                                                            <div ng-repeat="loc in resLocations">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">
                                                                            <a class="text-white" ng-show="!test" ng-click=""> <i class="fa fa-plus-square"></i></a>
                                                                            <a class="text-white" ng-show="test" ng-click="test=false;alert(false);"> <i class="fa fa-minus-square"></i></a>
                                                                            {{loc.locationName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-click="updateLocation(loc)" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                                <a ng-click="deleteLocation(loc)" class="btn btn-danger">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>Stree Line1 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.streetLine1}}</p>
                                                                                <p class="small"><b>Stree Line2 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.streetLine2}}</p>
                                                                                <p class="small"><b>Sity :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.city}}</p>
                                                                                <p class="small"><b>State :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.stateName}}</p>
                                                                                <p class="small"><b>Sountry :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.countryName}}</p>
                                                                            </div>
                                                                            <div>
                                                                                <div class="ibox-heading white-bg">
                                                                                    <b>Branches:</b>
                                                                                    <!--<a class="text-navy" ng-click="modalB(loc)"> <i class="fa fa-plus-circle"></i></a>-->
                                                                                    <button class="btn-primary btn btn-xs" ng-click="loadBranches(loc,toggleBranches)">Manage</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div align="center" class="form-control inline">
                                                                            <p class="small inline" ng-if="loc.isActive">Active</p>
                                                                            <p class="small inline" ng-if="!loc.isActive">Deactive</p>
                                                                            <input type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="toggleActive(con)" ng-model="loc.isActive" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="ibox-content" ng-show="toggleBranches">
                                                        <div class="row">
                                                            <!--repeater-->
                                                            <div ng-repeat="brn in resBranches">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">
                                                                            <a class="text-white"> <i class="fa fa-plus-square"></i></a>
                                                                            {{brn.branchName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-click="" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                                <a ng-click="" class="btn btn-danger">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>Location Name :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.locationName}}</p>
                                                                                <p class="small"><b>Phone Number :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>Email Address :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>Stree Line1 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>StreeLine2 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine2}}</p>
                                                                                <p class="small"><b>City :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.city}}</p>
                                                                                <p class="small"><b>State :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.stateName}}</p>
                                                                                <p class="small"><b>Country :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.countryName}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div align="center" class="form-control inline">
                                                                            <p class="small inline" ng-if="brn.isActive">Active</p><p class="small inline" ng-if="!brn.isActive">Deactive</p>
                                                                            <input type="checkbox" class=" switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="toggleActive(con)" ng-model="brn.isActive" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>

                                            <uib-tab heading="Candidate" class="dsads">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title" >
                                                        <h5><strong>Candidate:</strong></h5>
                                                        <a class="btn btn-primary m-b pull-right" ui-sref="{{configJSON.createCandidateUrl}}">Add Candidate</a>
                                                        <!--<button type="submit" ng-click="modelCandidate()" class="btn btn-primary m-b pull-right">Add Candidate</button>-->
                                                    </div>
                                                    
                                                    <div class="ibox-content">
                                                        <div class="row">
                                                            <!--repeater-->
                                                            <div ng-repeat="loc in resCandidates">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">
                                                                            <a class="text-white" ng-show="!test" ng-click=""> <i class="fa fa-plus-square"></i></a>
                                                                            <a class="text-white" ng-show="test" ng-click="test=false;alert(false);"> <i class="fa fa-minus-square"></i></a>
                                                                            {{loc.Candidate.FirstName + " " + loc.Candidate.LastName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-click="editCanditate(loc)" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                                <a ng-click="deleteCandidate(loc)" class="btn btn-danger">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>DOB :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.Candidate.DateOfBirth | date}}</p>
                                                                                <p class="small"><b>Email :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.Candidate.Email}}</p>
                                                                                <p class="small"><b>Mobile :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.CandidateContact[0].MobileNumber}}</p>
                                                                                <p class="small"><b>Street Address :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.CandidateContact[0].StreetAddress}}</p>
                                                                                <p class="small"><b>City :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.CandidateContact[0].City}}</p>
                                                                                <p class="small"><b>State :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.CandidateContact[0].State}}</p>
                                                                                <p class="small"><b>Country :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.CandidateContact[0].Country}}</p>
                                                                                <p class="small"><b>Zip :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.CandidateContact[0].ZipCode}}</p>
                                                                            </div>
                                                                           
                                                                        </div>
                                                                        <div align="center" class="form-control inline">
                                                                            <p class="small inline" ng-if="loc.Candidate.isActive">Active</p>
                                                                            <p class="small inline" ng-if="!loc.Candidate.isActive">Deactive</p>
                                                                            <input type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="toggleActive(loc)" ng-model="loc.Candidate.isActive" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="ibox-content" ng-show="toggleBranches">
                                                        <div class="row">
                                                            <!--repeater-->
                                                            <div ng-repeat="brn in resBranches">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">
                                                                            <a class="text-white"> <i class="fa fa-plus-square"></i></a>
                                                                            {{brn.branchName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-click="" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                                <a ng-click="" class="btn btn-danger">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>Location Name :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.locationName}}</p>
                                                                                <p class="small"><b>Phone Number :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>Email Address :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>Stree Line1 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>StreeLine2 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine2}}</p>
                                                                                <p class="small"><b>City :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.city}}</p>
                                                                                <p class="small"><b>State :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.stateName}}</p>
                                                                                <p class="small"><b>Country :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.countryName}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div align="center" class="form-control inline">
                                                                            <p class="small inline" ng-if="brn.isActive">Active</p><p class="small inline" ng-if="!brn.isActive">Deactive</p>
                                                                            <input type="checkbox" class=" switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="toggleActive(con)" ng-model="brn.isActive" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End wrapper-->
</div>
