<style>
    .project-people, .project-actions {
        text-align: left;
    }
</style>
<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!--Search-->
    <div ng-if="!IsMSP" class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <!--serach Form start-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{configJSON.titleForm}}</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form class="m-t" name="form">
                            <div class="form-group col-md-4" ng-class="{ 'has-error': form.companyName.$dirty && form.companyName.$error.required }">
                                <input type="text" class="form-control" name="companyName"
                                       ng-model="dataJSON.companyName"
                                       placeholder="Company Name"
                                       required="">
                                <span ng-show="form.companyName.$dirty && form.companyName.$error.required" class="help-block">
                                    Company Name is required
                                </span>
                            </div>
                            <!--<div class="form-group col-md-4" ng-class="{ 'has-error': form.companyLocation.$dirty && form.companyLocation.$error.required }">
                                <input type="text" class="form-control" name="companyLocation"
                                       ng-model="dataJSON.companyLocation"
                                       placeholder="Location" required="">
                                <span ng-show="form.companyLocation.$dirty && form.companyLocation.$error.required" class="help-block">
                                    Company Location is required
                                </span>
                            </div>
                            <div class="form-group col-md-4" ng-class="{ 'has-error': form.companyBranch.$dirty && form.companyBranch.$error.required }">
                                <input type="text" class="form-control"
                                       ng-model="dataJSON.companyBranch"
                                       placeholder="Branch" name="companyBranch" required="">
                                <span ng-show="form.companyBranch.$dirty && form.companyBranch.$error.required" class="help-block">
                                    Branch is required
                                </span>
                            </div>-->
                            <div>
                                <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
                                &nbsp;&nbsp;
                                <a class="btn btn-primary btn-white center" ui-sref="dashboard">Cancel</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!--serach Form end-->
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><strong>{{configJSON.companyType}} List:</strong></h5>
                        <div ibox-tools></div>
                    </div>

                    <div class="ibox-content">
                        <a class="btn btn-primary center" ng-if="(config.SupplierCreate == true && configJSON.companyType == 'Supplier') || (config.CustomerCreate == true && configJSON.companyType == 'Customer')" ui-sref="{{configJSON.createUrl}}">Add</a>
                        &nbsp;&nbsp;
                        <div class="row">

                            <!--repeater-->
                            <div ng-repeat="res in searchResults">
                                <div class="col-lg-4">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            {{res.companyName}}
                                        </div>
                                        <div class="panel-body">
                                            <div class="ibox-heading white-bg">
                                                <p class="small"><b>Website:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyWebsite}}</p>
                                                <p class="small"><b>Email:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyEmail}}</p>
                                                <p class="small"><b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyAddress}}</p>
                                                <p class="small"><b>Contact Number:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{res.companyPhoneNumber}}</p>
                                            </div>
                                        </div>
                                        <div align="center" class="form-control inline">
                                            <button class="btn-primary btn btn-xs" ng-click="view(res)">Manage</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--serach Results end-->
        </div>
    </div>
    <!--Manage-->
    <div ng-if="IsMSP" class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">

        <div ng-if="res" class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <a ui-sref="{{configJSON.editUrl}}" ng-if="(config.MSPEdit == true && configJSON.companyType == 'MSP') || (config.SupplierEdit && configJSON.companyType == 'Supplier') || (config.CustomerEdit && configJSON.companyType == 'Customer')" class="btn btn-white btn-xs pull-right">Edit {{res.companyType}}</a>

                                        <h2>{{res.companyName}}</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt>
                                        <dd><span class="label label-primary">Active</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"><img src="{{baseUrl+res.LogoPath}}" /></div>
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Email:</dt>
                                        <dd>{{res.companyEmail}}</dd>
                                        <dt>Website:</dt>
                                        <dd> {{res.companyWebsite}}</dd>
                                        <dt>Address:</dt>
                                        <dd>{{res.companyAddress}}</dd>
                                        <dt>City:</dt>
                                        <dd>{{res.companyCity}}</dd>
                                        <dt>State:</dt>
                                        <dd>{{res.companyState}}</dd>
                                        <dt>Country:</dt>
                                        <dd>{{res.companyCountry}}</dd>
                                        <dt>Contact:</dt>
                                        <dd> {{res.companyPhoneNumber}}</dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <div class="panel ui-tab">
                                        <uib-tabset>
                                            <uib-tab heading="Users" active="tab.active">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title">
                                                        <h5><strong>Users:</strong></h5>&nbsp;&nbsp;&nbsp;
                                                        <a ng-click="toggleView()"><i class="fa fa-th-large"></i></a>&nbsp;&nbsp;&nbsp;
                                                        <a ng-click="toggleView()"><i class="fa fa-list-ul"></i></a>
                                                        <!--has-permission='Supplier User %'-->
                                                        <button type="submit" ng-if="(config.SupplierUserCreate == true && configJSON.companyType == 'Supplier') || (config.CustomerUserCreate == true && configJSON.companyType == 'Customer') || (config.MSPUserCreate == true && configJSON.companyType == 'MSP')" ng-click="modelU()" class="btn btn-primary m-b pull-right">Create</button>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div ng-show="refData.userViewType === 'Card'">
                                                            <!--User repeater-->
                                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="loc in resUsers">
                                                                <div class="contact-box">
                                                                    <a ui-sref="profile">
                                                                        <div class="col-sm-5">
                                                                            <div class="text-center">
                                                                                <span><img ng-if="loc.user.userProfilePhotoPath!=''" height="88" width="88" alt="image" class="img-circle m-t-xs img-responsive" src="{{baseUrl+loc.user.userProfilePhotoPath}}"></span>
                                                                                <!--<div class="m-t-xs font-bold">Graphics designer</div>-->
                                                                                <!-- User Avathar image or Letter avathar -->
                                                                                <span ng-show="loc.user.userProfilePhotoPath==''">
                                                                                    <ng-letter-avatar charCount="2" height="88" width="88" fontsize="32"
                                                                                                      data="{{loc.user.firstName}} {{loc.user.lastName}}" shape="round"></ng-letter-avatar>
                                                                                </span>
                                                                                <div class="m-t-xs font-bold">{{loc.user.firstName + " " +loc.user.lastName}}</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-7">

                                                                            <p><i class="fa fa-envelope"></i> {{loc.user.emailAddress}}</p>
                                                                            <address>
                                                                                {{loc.user.address}}<br />
                                                                                {{loc.user.city}}, {{loc.user.state}}<br />
                                                                                {{loc.user.country}} - {{loc.user.zipCode}}<br />
                                                                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                                                            </address>
                                                                            <div class="pull-left">
                                                                                <p class="small inline" ng-if="loc.isActive">Active</p>
                                                                                <p class="small inline" ng-if="!loc.isActive">Deactive</p>
                                                                                <input ng-disabled="!(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || !(config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || !(config.MSPUserEdit == true && configJSON.companyType == 'MSP')" type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                       ng-change="ctoggleActive(loc)" ng-model="loc.isActive" />
                                                                            </div>
                                                                            <div class="btn-group-xs ">

                                                                                <span style="margin-left:10px" ng-if="(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || (config.MSPUserEdit == true && configJSON.companyType == 'MSP')" ng-click="updateUser(loc)" class="text-navy">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </span>

                                                                                <span ng-if="(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || (config.MSPUserEdit == true && configJSON.companyType == 'MSP')" ng-click="resetPassword(loc)" class="text-navy">
                                                                                    <span class="fa fa-key"></span>
                                                                                </span>

                                                                                <!--<span ng-click="deleteCandidate(loc)" class="btn btn-danger">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </span>-->

                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" ng-show="refData.userViewType === 'List'">
                                                            <!--User repeater-->
                                                            <div class="full-height-scroll" full-scroll>
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th></th>
                                                                                <th>User</th>
                                                                                <th>Address</th>
                                                                                <th>Email</th>
                                                                                <th>Status</th>
                                                                                <th ng-if="(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || (config.MSPUserEdit == true && configJSON.companyType == 'MSP')">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="loc in resUsers">
                                                                                <td class="client-avatar">

                                                                                    <img ng-if="loc.user.userProfilePhotoPath!=''" alt="image" class="img-circle m-t-xs img-responsive" src="{{baseUrl+loc.user.userProfilePhotoPath}}"><!-- User Avathar image or Letter avathar -->
                                                                                    <span ng-show="loc.user.userProfilePhotoPath==''">
                                                                                        <ng-letter-avatar charCount="2" height="28" width="28" fontsize="10"
                                                                                                          data="{{loc.user.firstName}} {{loc.user.lastName}}" shape="round"></ng-letter-avatar>
                                                                                    </span>

                                                                                </td>
                                                                                <td style="width:35%">
                                                                                    <a ng-click="updateUser(loc)" class="client-link">{{loc.user.firstName}} {{loc.user.lastName}}</a>
                                                                                </td>
                                                                                <td style="width:30%">
                                                                                    <i class="fa fa-map-marker"></i> {{loc.user.address}},
                                                                                    {{loc.user.city}}, {{loc.user.state}},
                                                                                    {{loc.user.country}} - {{loc.user.zipCode}}.
                                                                                </td>
                                                                                <td style="width:15%" class="contact-type"><i class="fa fa-envelope"> </i>{{loc.user.emailAddress}}</td>

                                                                                <td style="width:10%">
                                                                                    <p class="small inline" ng-if="loc.isActive">Active</p>
                                                                                    <p class="small inline" ng-if="!loc.isActive">Deactive</p>
                                                                                    <input ng-disabled="!(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || !(config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || !(config.MSPUserEdit == true && configJSON.companyType == 'MSP')" type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                           ng-change="ctoggleActive(loc)" ng-model="loc.isActive" />
                                                                                </td>
                                                                                <td style="width:5%">
                                                                                    <div>
                                                                                        <span ng-if="(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || (config.MSPUserEdit == true && configJSON.companyType == 'MSP')" style="margin-left:10px" ng-click="updateUser(loc)" class="text-navy">
                                                                                            <span class="fa fa-pencil"></span>
                                                                                        </span>
                                                                                    </div>

                                                                                </td>
                                                                                <td>
                                                                                    <div>
                                                                                        <span ng-if="(config.SupplierUserEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerUserEdit == true && configJSON.companyType == 'Customer') || (config.MSPUserEdit == true && configJSON.companyType == 'MSP')" style="margin-left:10px" ng-click="updateUser(loc)" class="text-navy">
                                                                                            <span class="fa fa-key"></span>
                                                                                        </span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <uib-tab heading="Locations/Branch">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-title" ng-show="!toggleBranches">
                                                        <h5><strong>Locations:</strong></h5>
                                                        <button ng-if="(config.SupplierLBCreate == true && configJSON.companyType == 'Supplier')
                                                                || (config.CustomerLBCreate == true && configJSON.companyType == 'Customer')
                                                                || (config.MSPLBCreate == true && configJSON.companyType == 'MSP')"
                                                                type="submit" ng-click="modelL()"
                                                                class="btn btn-primary m-b pull-right">
                                                            Add Location
                                                        </button>
                                                    </div>
                                                    <div class="ibox-title" ng-show="toggleBranches">
                                                        <h5><strong>{{refData.locationData.locationName}} (Branches):</strong></h5>
                                                        <button type="submit" ng-click="swithLocation()" class="btn btn-default m-b pull-right float-e-margins">Close</button>
                                                        <button ng-if="(config.SupplierLBCreate == true && configJSON.companyType == 'Supplier') || (config.CustomerLBCreate == true && configJSON.companyType == 'Customer') || (config.MSPLBCreate == true && configJSON.companyType == 'MSP')" type="submit" ng-click="modalB(refData.locationData)" class="btn btn-primary m-b m-r pull-right">Add Branch</button>
                                                    </div>
                                                    <div class="ibox-content" ng-show="!toggleBranches">
                                                        <div class="row">
                                                            <!--Location repeater-->
                                                            <div ng-repeat="loc in resLocations">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">
                                                                            {{loc.locationName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-if="(config.SupplierLBEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerLBEdit == true && configJSON.companyType == 'Customer') || (config.MSPLBEdit == true && configJSON.companyType == 'MSP')" ng-click="updateLocation(loc)" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>Stree Line1 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.streetLine1}}</p>
                                                                                <p class="small"><b>Stree Line2 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.streetLine2}}</p>
                                                                                <p class="small"><b>Sity :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.city}}</p>
                                                                                <p class="small"><b>State :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.stateName}}</p>
                                                                                <p class="small"><b>Sountry :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{loc.countryName}}</p>
                                                                            </div>
                                                                            <div>
                                                                                <div class="ibox-heading white-bg">
                                                                                    <b>Branches:</b>
                                                                                    <!--<a class="text-navy" ng-click="modalB(loc)"> <i class="fa fa-plus-circle"></i></a>-->
                                                                                    <button class="btn-primary btn btn-xs" ng-click="loadBranches(loc,toggleBranches)">Manage</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-control inline">
                                                                            <!-- Location Active/Deactive toggle -->
                                                                            <p class="small inline" ng-if="loc.isActive">Active</p>
                                                                            <p class="small inline" ng-if="!loc.isActive">Deactive</p>
                                                                            <input ng-disabled="!(config.SupplierLBEdit == true && configJSON.companyType == 'Supplier') || !(config.CustomerLBEdit == true && configJSON.companyType == 'Customer') || !(config.MSPLBEdit == true && configJSON.companyType == 'MSP')" type="checkbox" class="switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="toggleActiveLocation(loc)" ng-model="loc.isActive" />
                                                                            <!-- Location Deleted toggle -->
                                                                            <!--<div class="pull-right">
                                                                                <p class="small inline" ng-if="loc.isDeleted">Deleted</p>
                                                                                <p class="small inline" ng-if="!loc.isDeleted">Deleted</p>
                                                                                <input type="checkbox" class="switchery small" ui-switch="{color:'#f8ac59', size:'small'}"
                                                                                       ng-change="toggleActiveLocation(loc)" ng-model="loc.isDeleted" />
                                                                            </div>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="ibox-content" ng-show="toggleBranches">
                                                        <div class="row">
                                                            <!--Branch repeater-->
                                                            <div ng-repeat="brn in resBranches">
                                                                <div class="col-lg-4">
                                                                    <div class="panel panel-primary">
                                                                        <div class="panel-heading">
                                                                            {{brn.branchName}} <div class="btn-group-xs pull-right">
                                                                                <a ng-if="(config.SupplierLBEdit == true && configJSON.companyType == 'Supplier') || (config.CustomerLBEdit == true && configJSON.companyType == 'Customer') || (config.MSPLBEdit == true && configJSON.companyType == 'MSP')" ng-click="updateBranch(brn)" class="text-white">
                                                                                    <span class="fa fa-pencil"></span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="ibox-heading white-bg">
                                                                                <p class="small"><b>Location Name :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.locationName}}</p>
                                                                                <p class="small"><b>Phone Number :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.phoneNumber}}</p>
                                                                                <p class="small"><b>Email Address :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>Stree Line1 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine1}}</p>
                                                                                <p class="small"><b>StreeLine2 :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.streetLine2}}</p>
                                                                                <p class="small"><b>City :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.city}}</p>
                                                                                <p class="small"><b>State :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.stateName}}</p>
                                                                                <p class="small"><b>Country :</b>&nbsp;&nbsp;&nbsp;&nbsp;{{brn.countryName}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-control inline">
                                                                            <!-- Branch Active/Deactive toggle -->
                                                                            <p class="small inline" ng-if="brn.isActive">Active</p>
                                                                            <p class="small inline" ng-if="!brn.isActive">Deactive</p>
                                                                            <input ng-disabled="!(config.SupplierLBEdit == true && configJSON.companyType == 'Supplier') || !(config.CustomerLBEdit == true && configJSON.companyType == 'Customer') || !(config.MSPLBEdit == true && configJSON.companyType == 'MSP')" type="checkbox" class=" switchery small" ui-switch="{color:'#1AB394', size:'small'}"
                                                                                   ng-change="toggleActiveBranch(brn)" ng-model="brn.isActive" />
                                                                            <!-- Branch Deleted toggle -->
                                                                            <!--<div class="pull-right">
                                                                                <p class="small inline" ng-if="brn.isDeleted">Deleted</p>
                                                                                <p class="small inline" ng-if="!brn.isDeleted">Deleted</p>
                                                                                <input type="checkbox" class=" switchery small" ui-switch="{color:'#f8ac59', size:'small'}"
                                                                                       ng-change="toggleActiveBranch(brn)" ng-model="brn.isDeleted" />
                                                                            </div>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>


                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End wrapper-->
</div>
