<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg" />-->
                    <ng-letter-avatar avatarborder="true" charCount="2" data="Administrator" shape="round"></ng-letter-avatar>
                    <a uib-dropdown-toggle>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Administrator</strong>
                            </span>
                            <span class="text-muted text-xs block">Super Admin<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li ng-class="{active: $state.includes('company')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{'Company'|translate}}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('company')}">
                    <li ui-sref-active="active"><a ui-sref="company.searchMSP">{{'ManageMSP'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="company.searchSuppliers">{{'Manage Suppliers'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="company.searchCustomers">{{'Manage Customers'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="company.createSupplier">{{'Create Supplier'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="company.createCustomer">{{'Create Customer'|translate}} </a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="company.locations">{{'Manage Location'|translate}}</a></li>
            <li ui-sref-active="active"><a ui-sref="company.branches">{{'Manage Branches'|translate}}</a></li>-->
                    <li ui-sref-active="active"><a ui-sref="country.manageCountry">{{'Manage Country'|translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="industry.manageIndustry">{{'Manage Industry'|translate}}</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('job')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{'Job'|translate}}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('job')}">
                    <li ui-sref-active="active"><a ui-sref="job.manageVacancieType">{{'Manage Vacancies Types'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="job.searchVacancies">{{'Manage Vacancies'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="job.createVacancy">{{'Create Vacancy'|translate}} </a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('role')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{'Role'|translate}}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('role')}">
                    <li ui-sref-active="active"><a ui-sref="role.manageRole">{{'Manage Role'|translate}} </a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="job.manageRoleGroup">{{'Manage Role Group'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="job.manageRoleGroupRoles">{{'Manage Role-Group Roles'|translate}} </a></li>-->
                    <li ui-sref-active="active"><a ui-sref="role.manageUserRole">{{'Manage User Roles'|translate}} </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>