<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg" />-->
                    <ng-letter-avatar avatarborder="true" charCount="2" data="Administrator" shape="round"></ng-letter-avatar>
                    <a uib-dropdown-toggle>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Administrator</strong>
                            </span>
                            <span class="text-muted text-xs block">Super Admin<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="account.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li><a ui-sref="account.changePassword">Change Password</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>            
            <!-- Administration Menu -->
            <li ng-class="{active: $state.includes('company') || $state.includes('country') || $state.includes('industry') || $state.includes('vacancy') || $state.includes('role')}">
                <a ng-if="config.navAdmistration == true" href="#"><i class="fa fa-th-list"></i> <span class="nav-label">{{'Administration'|translate}}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('company')}">
                    <!-- Company Sub menu -->
                    <li ng-class="{active: $state.includes('company')}">
                        <a ng-if="config.navCompany" href="#"><i class="fa fa-child"></i> <span class="nav-label">{{'Company'|translate}}</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse" ng-class="{active: $state.includes('company')}">
                            <li ng-if="config.navManageSuppliers" ui-sref-active="active"><a ui-sref="company.searchSuppliers">{{'Manage Suppliers'|translate}} </a></li>
                            <li ng-if="config.navManageCustomers" ui-sref-active="active"><a ui-sref="company.searchCustomers">{{'Manage Customers'|translate}} </a></li>
                            <li ng-if="config.navManageMSP" ui-sref-active="active"><a ui-sref="company.searchMSP">{{'Manage MSP'|translate}} </a></li>
                        </ul>
                    </li>
                    <!-- Role Sub Menu -->
                    <li ng-class="{active: $state.includes('role')}">
                        <a ng-if="config.navAuthorization" href="#"><i class="fa fa-user-circle-o"></i> <span class="nav-label">{{'Authorization'|translate}}</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('role')}">
                            <li ng-if="config.navManageRoleGroups" ui-sref-active="active"><a ui-sref="role.manageRoleGroup">{{'Application Roles'|translate}} </a></li>
                            <li ng-if="config.navManageUserRoles" ui-sref-active="active"><a ui-sref="role.manageUserRole">{{'Manage User Roles'|translate}} </a></li>
                            <li ui-sref-active="active"><a ui-sref="account.changeUserPassword">{{'Manage User Passwords'|translate}} </a></li>
                        </ul>
                    </li>
                    <li ng-if="config.navMSPPayPeriod" ui-sref-active="active"><a ui-sref="payperiod.managePayperiod">{{'Manage Pay Period'|translate}}</a></li>
                    <li ng-if="config.navMSPPayPeriod" ui-sref-active="active"><a ui-sref="expenses.manageExpenses">{{'Manage Expenses'|translate}}</a></li>
                    <li ng-if="config.navMSPPayPeriod" ui-sref-active="active"><a ui-sref="timeSheet.manageTimeSheet">{{'Manage TimeSheets'|translate}}</a></li>
                    <li ng-if="config.navManageCountry" ui-sref-active="active"><a ui-sref="country.manageCountry">{{'Manage Country'|translate}}</a></li>
                    <li ng-if="config.navManageIndustry" ui-sref-active="active"><a ui-sref="industry.manageIndustry">{{'Manage Industry'|translate}}</a></li>
                    <li ng-if="config.navManageDocuments" ui-sref-active="active"><a ui-sref="vacancy.manageAppointmentType">{{'Manage Appointment Types'|translate}} </a></li>
                    <li ng-if="config.navManageDocuments" ui-sref-active="active"><a ui-sref="vacancy.manageDocuments">{{'Manage Documents'|translate}}</a></li>
                    <li ng-if="config.navManageQuestions" ui-sref-active="active"><a ui-sref="vacancy.manageQuestions">{{'Manage Questions'|translate}}</a></li>
                    <li ng-if="config.navManageVacancyTypes" ui-sref-active="active"><a ui-sref="vacancy.manageVacancieType">{{'Manage Vacancies Types'|translate}} </a></li>
                </ul>
            </li>
            <!-- Job Menu -->
            <li ng-class="{active: $state.includes('job')}">
                <a ng-if="config.navJob" href="#"><i class="fa fa-paste"></i> <span class="nav-label">{{'Job'|translate}}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('job')}">
                    <li ng-if="config.navManageVacancies" ui-sref-active="active"><a ui-sref="job.searchVacancies">{{'Manage Vacancies'|translate}} </a></li>
                    <li ng-if="config.navCreateVacancy" ui-sref-active="active"><a ui-sref="job.createVacancy">{{'Create Vacancy'|translate}} </a></li>

                </ul>
            </li>
            <!-- Candidate Menu -->
            <li ng-class="{active: $state.includes('candidate')}">
                <a ng-if="config.navCandidate" href="#"><i class="fa fa-user-o"></i> <span class="nav-label">{{'Candidate'|translate}}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('candidate')}">
                    <li ng-if="config.navManageCandidates" ui-sref-active="active"><a ui-sref="candidate.manageCandidate">{{'Manage Candidates'|translate}} </a></li>
                    <li ng-if="config.navManageCandidateSubmission" ui-sref-active="active"><a ui-sref="candidate.manageSubmission">{{'Manage Candidate Submission'|translate}} </a></li>
                    <li ng-if="config.navCreateCandidate" ui-sref-active="active"><a ui-sref="candidate.create">{{'Create Candidate Profile'|translate}} </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!--<li ui-sref-active="active"><a ui-sref="company.locations">{{'Manage Location'|translate}}</a></li>
            <li ui-sref-active="active"><a ui-sref="company.branches">{{'Manage Branches'|translate}}</a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="job.manageRoleGroup">{{'Manage Role Group'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="job.manageRoleGroupRoles">{{'Manage Role-Group Roles'|translate}} </a></li>-->
<!--<li ui-sref-active="active"><a ui-sref="company.createSupplier">{{'Create Supplier'|translate}} </a></li>
                    <li ui-sref-active="active"><a ui-sref="company.createCustomer">{{'Create Customer'|translate}} </a></li>-->
