<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">
    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{configJSON.title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>{{configJSON.title}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Expenses</h5>

                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div ng-if="compType == 'MSP'">
                                <div class="form-group col-md-4">
                                    <label>Supplier* :</label>
                                    <ui-select ng-model="compId" theme="bootstrap" required name="companyId" ng-change="changeCompany($select.selected)">
                                        <ui-select-match placeholder="Supplier">{{$select.selected.companyName}}</ui-select-match>
                                        <ui-select-choices repeat="res.companyName  as res in companyList | filter: $select.search">
                                            <div ng-bind-html="res.companyName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            <div ng-if="compType == 'MSP' || compType == 'Supplier'">
                                <div class="form-group col-md-4">
                                    <label>Candidate* :</label>
                                    <ui-select ng-model="dataJSON.PlacementID" theme="bootstrap" required name="PlacementId" ng-change="changePlacement()">
                                        <ui-select-match placeholder="Candidate">{{$select.selected.CandidateName}}</ui-select-match>
                                        <ui-select-choices repeat="res.PlacementId  as res in placementList | filter: $select.search">
                                            <div ng-bind-html="res.CandidateName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                            <div ng-if="dataJSON.PlacementID" class="ibox-tools">

                                <a ng-click="edit(false,null)" class="btn btn-primary"><i class="fa fa-plus"></i>Create</a>
                            </div>
                        </div>


                        <div ng-if="ExpenseList.length > 0" class="row">

                            <div class="project-list">
                                <table datatable="ng" dt-options="dtOptions" class="row-border hover table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="v in configJSON.gridElements">
                                                {{v.lable}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in ExpenseList" id="row_{{v.ID}}">
                                            <td class="project-actions">
                                                <span style="float:left">EX000{{v.ID}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.PlacementID}}</span>
                                            </td>
                                            <td class="project-title">
                                                <span style="float:left"><small>{{v.MSPPayperiod.StartDate | stringToDate : "MM/dd/yyyy" }} - {{v.MSPPayperiod.EndDate | stringToDate : "MM/dd/yyyy" }}</small></span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.MSPSpendCategory.Name}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.TimesheetStatus.Name}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.Name}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.Description}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.Amount}}</span>
                                            </td>
                                            <td class="project-people">
                                                <span style="float:left">{{v.TimesheetStatus.Name}}</span>
                                            </td>
                                            <td class="project-status center">
                                                <div ng-if="v.TimesheetStatus.Name !== 'Pending'">
                                                    <span><strong>{{v.TimesheetStatus.Name}}</strong></span>
                                                </div>
                                                <div ng-if="v.TimesheetStatus.Name === 'Pending'">
                                                    <a ng-click="edit(true,v)" class="btn btn-white btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </a>
                                                    <a ng-if="config.ExpenseSpentApprove" ng-click="approve(v)" class="text-white">
                                                        <span class="fa fa-pencil"></span> Approve
                                                    </a>
                                                    <a ng-if="config.ExpenseSpentReject" ng-click="reject(v)" class="text-white">
                                                        <span class="fa fa-pencil"></span> Reject
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-if="!ExpenseList.length > 0">
                            There is no Expenses available.
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- End wrapper-->