<toaster-container></toaster-container>
<!-- Wrapper-->
<div id="wrapper">

    <!-- Main view  -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Change Password</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>Change Password</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       
                        <h5 >Change Password</h5>

                    </div>
                    <div class="ibox-content">
                        <form class="m-t" name="form" novalidate>
                            <div class="row">
                               
                                <div class="form-group col-md-6" ng-class="{ 'has-error':  form.currentPassword.$error.required && form.submitted==true }">
                                    <label>Current Password * :</label>
                                    <input type="text" class="form-control" name="currentPassword"
                                           ng-model="dataJSON.OldPassword"
                                           placeholder="Current Password"
                                           required="">
                                    <span ng-show="form.currentPassword.$error.required && form.submitted==true" class="text-danger">
                                        * Current Password is required
                                    </span>
                                </div>
                                <div class="form-group col-md-6" ng-class="{ 'has-error':  form.NewPassword.$error.required && form.submitted==true }">
                                    <label>New password * :</label>
                                    <input type="password" class="form-control" name="NewPassword"
                                           ng-model="dataJSON.NewPassword"
                                           placeholder="New Password" required="">
                                    <span ng-show="form.NewPassword.$error.required && form.submitted==true" class="text-danger">
                                        * New password is required
                                    </span>
                                </div>
                                <div class="form-group col-md-6" ng-class="{ 'has-error':  form.ConfirmPassword.$error.required && form.submitted==true }">
                                    <label>Confirm new password * :</label>
                                    <input type="password" class="form-control" name="ConfirmPassword"
                                           ng-model="dataJSON.ConfirmPassword"
                                           placeholder="Confirm Password" required="">
                                    <span ng-show="form.ConfirmPassword.$error.required && form.submitted==true" class="text-danger">
                                        * Confirm new password is required
                                    </span>
                                    <span ng-show="dataJSON.NewPassword !=  dataJSON.ConfirmPassword" class="text-danger">
                                        * New password and Confirm password should match.
                                    </span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <button type="submit" ng-click="submit(form)" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                                    <a class="btn btn-primary btn-white center" ui-sref="dashboard">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End wrapper-->
