<div class="loginColumns animated fadeInDown" >
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">Welcome to eMSP</h2>
            
        </div>
        <div class="col-md-6" data-ng-controller="loginController">
            <div class="ibox-content">
                <form class="m-t" name="form">
                    <div class="form-group" ng-class="{ 'has-error': form.userName.$dirty && form.userName.$error.required }">
                        <input type="text" name="userName" ng-model="loginData.userName" required
                               class="form-control" placeholder="Username" />
                        <span ng-show="form.userName.$dirty && form.userName.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <input type="password" class="form-control" placeholder="Password"
                               name="password" ng-model="loginData.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox i-checks">
                            <label>
                                <input type="checkbox" ng-model="loginData.useRefreshTokens">
                                <i></i>  Use Refresh Tokens
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b form-actions" ng-click="login()"
                            ng-disabled="form.$invalid || loginData.dataLoading">
                        Login
                    </button>

                    <a href="#/forgot-password"><small>Forgot password?</small></a>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="#/registration">Create an account</a>
                </form>                
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Copyright eMSP Company
        </div>
        <div class="col-md-6 text-right">
            <small>© 2014-2015</small>
        </div>
    </div>
</div>
